h1{
    /*background-color: #222;*/
    color: #9d9d9d;
}

section{
    margin-top: 35px;
}

.pitems{
    text-align: right;
}

img{
    width: 100%;
    margin-top: 20px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
}

footer{
    background-color: #222;
    text-align:right;
    color: #9d9d9d;
    padding-top: 20px;
    padding-bottom: 10px;
}